serverName={{ get_env(name="SERVER_NAME", default="A Dockerised Blackwake Server") }}
port={{ get_env(name="SERVER_PORT", default="25001") }}
useIp=
sport={{ get_env(name="STEAM_PORT", default="27015") }}
hideFromList=0
restartHour=-1
password={{ get_env(name="SERVER_PASSWORD", default="") }}

friendlyPlayerCollision=0
friendSpreadFires=0
friendlyFire=0
friendlyShipDamage=0
forceEqualFactions=1
shipSpeedFactor=1
playerUpdateRate=15
allowGlobalVoice=0
discordLink={{ get_env(name="DISCORD_LINK", default="") }}
teamCount=6

captureSpeedMultiplier=1
resourceGainMultiplier=1
useAndWinByTickets=1
ticketAmount=300
useTicketScaling=1
friendlyFireCanToggle=1
allowExperimentalModes=0
gateExplosiveAmount=10
